/* LoginPage */
.LoginPage {
  width: 300px;
  height: 300px;

  position: absolute;
  right: 10%;
  top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: space-around;

  box-shadow: 1px 1px 2px 2px lightgrey;
}

/* MainPage */
.NavBar_1 {
  display: flex;
  justify-content: space-between;
}
.NavBar button {
    font-size: 1rem;
}
.NavBar_Nav Button:hover{
  color: lightseagreen;
}
.NavBar_Nav {
  display: flex;
  flex-direction: row;  
}

.MainPage .container {
  width: 1000px;
  height: 700px;

  position: absolute;
  left: 50%;
  top: 10%;
  margin-left: -500px;
  
  display: flex;
  align-items: flex-start;  
  justify-content: space-between;
 
}

/* TestTemplate_A_0 */
.TT_A_0{
  width: 1000px;
  height: 700px;
  
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-around;
}
/* TT_A_1 */
.TT_A_1{
  width: 1000px;
  height: 700px;
  
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-around;
}
.TT_A_1_container {
  width: 1000px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
/* TestTemplatePageA_2 */
.TT_A_2{
  width: 1000px;
  height: 700px;
  
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-around;
}
/* TestTemplatePageB_0 */

/* Admin Add task */
.AdminAddTask{
  width: 800px;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.AdminAddTask input[type="date"] {
  margin-top: 10px;
}
.AdminAddTask Button{
  top: 60%;
  left: -30%;
}
/* AdminTestInfo */
.AdminTestInfo {
  position: absolute;
  width: 1000px;
  height: auto;
  left: 50%;
  top: 50%;
  margin-left: -500px;
  margin-top: -400px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.ATI_tabA{
  width : 1050px;
  padding-left: -50px;   
  margin-bottom: 50px;
}
.ATI_tabA tr {
  height: 30px;
}
.ATI_tabA td {
  width: 30px;
  text-align: center;
  border-right: 1px solid lightgray;
  font-size: 25px;
}
.ATI_tabB{
  width: auto;
}
.ATI_tabB tr {
  height: 30px;
}
.ATI_tabB td {
  width: 30px;
  text-align: center;
  border-right: 1px solid lightgray;
  font-size: 25px;
}
.AdminTestInfo table thead {
  border: 1px solid black;
}
.ATI_AQ {
  margin-top: 50px;
}
.ATI_ANS_tr_right {
  color: green;
}
.ATI_ANS_td_wrong {
  color: red;
}
.ATI_p {
  font: 40px "Times New Roman";
  width: 100%;
  text-align: center;
}
.AStat_tab{
  width: 500px;
  border: 1px solid black;
}
/* UsersResults */
.UserResultsTab, .UserTasksTab{
   max-height: 700px;   
   height: 700px;
   width: 1000px;  
   overflow-y: auto;    
   overflow-x: hidden;  
   position: absolute;
   left: 50%;
   margin-left: -500px;
   
}

.tablecell{
  font-size: 25px;
}
.AccordSum {
  width: 100%;
  display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
}
.det {
  width: 100%;
  height: 40px;
  background-color: lightgray;
  
  text-align: center;
}
.det:nth-child(odd) {
  background-color: lightslategray;
}
.det:hover {
  background-color: lightcyan;
}